<section data-ng-controller="FliesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Fly</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>


                    <label class="control-label" for="name">Airplane</label>
                    <div class="controls">
                        <input type="text" data-ng-model="airplane.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">startAirport</label>
                    <div class="controls">
                        <input type="text" data-ng-model="startAirport.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">startCity</label>
                    <div class="controls">
                        <input type="text" data-ng-model="startCity.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">arrivalCity</label>
                    <div class="controls">
                        <input type="date" data-ng-model="arrivalCity.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">arrivalAirport</label>
                    <div class="controls">
                        <input type="text" data-ng-model="arrivalAirport.name" id="airplane" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">arrivalCity</label>
                    <div class="controls">
                        <input type="text" data-ng-model="arrivalCity.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="name">arrivalCity</label>
                    <div class="controls">
                        <input type="date" data-ng-model="arrivalCity.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
